# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile

# Unignore all dirs
!*/
!api

# ignore
.idea
**/.DS_Store
**/logs

# for test purpose
**/adhoc
go.work
go.work.sum

# gitlab ci
.cache
.golangci.yml

# vim auto backup file
*~
!OWNERS
