.code-panel {
    height: 100%;
    width: 100%;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.code-container-divider {
    height: 1px;
    width: 100%;
    background: #f1f1f1;
}

.code-container-header {
    padding: 18px 24px;
}