@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/Ur8nhvmyPCPt.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/nqpVboRKQwfv.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "思源黑体 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/29rKljwJn4PX.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/SVFiAuBamSOS/XYY9XwdYq9sY.woff") format("woff");
    font-display: swap;
}

.home {
    height: 100%;
    background-image: url("../../assets/welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-text-gradient {
    background-image: linear-gradient(to right, #2ea8ff, #165dff);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    font-family: 阿里妈妈方圆体 VF Regular;
}

.home-text {
    color: #333333;
    -webkit-background-clip: text;
    font-size: 41px;
    font-family: 思源黑体 Regular;
}

.home-start-icon {
    font-size: 20px;
}

.home-tag {
    width: auto;
    height: 30px;
    padding: 0 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.home-language {
    border-radius: 4px;
    background: white;
    height: 30px;
    padding: 8px;
    font-size: 12px;
    font-font: 思源黑体 Regular;
}

.home-language:hover {
    border-radius: 4px;
    background: white;
    height: 30px;
    padding: 8px;
    font-size: 12px;
    box-shadow: 1px 1px 5px #f1f1f1;
}