name: Markdown linter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  linter:
    name: markdown linter
    runs-on: ubuntu-latest
    steps:
    
    - name: Check out code
      uses: actions/checkout@v2
    
    - name: Markdown Linting Action
      uses: avto-dev/markdown-lint@v1.3.1
      with:
        args: 'find . -name "*.md"'
